.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-todo {
  width: 80%;
  padding: 8px 8px 8px 60px;
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
